streamlit
google-generativeai
supabase
streamlit-cookies-controller
langchain==0.2.0
langchain-community==0.2.0
langchain-core==0.2.0
langchain-google-genai
langchain-chroma
langchain-text-splitters
pypdf
chromadb